form,fieldset{
margin:0;
padding:0;
}
h1,h2,h3,h4,h5,ul{
font-size:100%;
font-weight:400;
margin:0;
padding:0;
}


a{
color: #000;
}

html {
    font-size: 100%;
}
body {
    font-size: 1em;
    line-height: 1.127em;
  	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
    background: #fff;
    padding: 0;
    margin: 0;
    text-align: center;
}
/*typography*/
/*baseline 18px*/
/*12px*/
p {
    font-size: 0.75em;
    margin: 1.5em;
}
img{
    margin: 0 1.2em 0 1.2em ;
    border: none;
}

ul {
    font-size: 0.75em;
    margin: 1.5em;
    padding: 0;
}
li {
    margin: 0 1.36em 0 1.36em;
}

/*22px*/
h1 {
    font-size: 1.38em;
    margin: 0.82em 0.82em  0.82em 0.82em;
    clear: both;
    display: inline-block;
    position: relative;
}
h1 a{
display: block;
background: #fff url(../images/dotDorset.png) no-repeat 0 0;
padding:  0 0 75px 0;
text-indent: -10000px;
width: 325px;
overflow: hidden;
height: 0;
float: left;
}

h1 span{
float: left;
display: block;
font-size: 1.5em;
color: #3399CC;
position: absolute;
left: 320px;
top: 25px;
width: 18em;
height: 1.5em;
padding: 0;
margin: 0;
line-height: 1.5em;
}

/*20px*/
h2 {
    font-size: 1.25em;
    padding: 0.9em;
    background: #666666;
    color: #fff;
}


/*18px*/
h3,fieldset {
    font-size: 1.13em;
    margin: 1em;

}
/*16px*/
h4 {
    font-size: 1em;
    margin: 1.125em;
}

/*14px*/
h5 {
    font-size: 0.88em;
    margin: 1.29em;
}
/*end typography*/







#footer {
background: #000;
color: #fff;
}

#footer a{

color: #fff;
}

#footer ul{
    text-align: center;
padding:0;
margin: 1.5em;
}

#footer ul li {
    display: inline;
    border-right: 1px solid;

    padding: 0 0.6em 0 0.2em;
    margin:0;

}
#footer ul li.last{
border:none;
}



/*end menus*/
/*structure*/
#main {
    margin: 0 auto 0 auto;
    text-align: left;
    background: #fff;
    width: 60em;
    padding: 0;
}

#main:after {
    content: ".";
    display: block;
    height: 1em;
    font-size: 0;
    clear: both;
    visibility: hidden;
}

#footer, #blogs, #intro, #events, #jobs, #twitter, #mailinglist, #bookmarks, .box_1, .box_2, .box_3, .box_4, .box_5, .box_6, .box_7, .box_8, .box_9, .box_10, .box_11, .box_12, .box_13, .box_14, .box_15, .box_16, .box_17, .box_18, .box_19, .box_20, .box_21, .box_22, .box_23, .box_24 {
    float: left;
}
.box_1 {
    width: 2.5em;
}
.box_2 {
    width: 5em;
}
.box_3 {
    width: 7.5em;
}
.box_4 {
    width: 10em;
}
.box_5 {
    width: 12.5em;
}
.box_6, #events, #jobs {
    width: 15em;
}
.box_7 {
    width: 17.5em;
}
.box_8, #twitter, #mailinglist, #bookmarks {
    width: 20em;
}
.box_9 {
    width: 22.5em;
}
.box_10 {
    width: 25em;
}
.box_11 {
    width: 27.5em;
}
.box_12, #blogs {
    width: 30em;
}
.box_13 {
    width: 32.5em;
}
.box_14 {
    width: 35em;
}
.box_15 {
    width: 37.5em;
}
.box_16 {
    width: 40em;
}
.box_17 {
    width: 42.5em;
}
.box_18 {
    width: 45em;
}
.box_19 {
    width: 47.5em;
}
.box_20 {
    width: 50em;
}
.box_21 {
    width: 52.5em;
}
.box_22 {
    width: 55em;
}
.box_23 {
    width: 57.5em;
}
.box_24, #intro, #footer {
    width: 60em;
}
/*end structure*/


.rss{
color: #fff;
/*background: transparent url(../images/feed-icon-28x28.png) no-repeat 100% 0;*/
padding: 0 0.5em 0.5em 0;
text-decoration: none;
}
#intro{
margin:  1em 0 1em 0;
}
#intro a, h2 a{
color: #fff;
}

#events, .even{
background: #CAE5F2;

}

.content{
padding: 0.2em 0 0.2em 0;
}

#jobs, #twitter,#bookmarks{
background: #E6F3F9;
}
