{% extends "base.html" %}

{% block content %}
  <div id="intro">
    <h2>Be a part of dotDorset</h2>
    <p>We're a community of web, tech, IT and digital people.  We are everything from designers to entrepreneurs to programmers to support techs.  You can join us by joining our mailing list and attending events.</p>
    <p>Send a blank email to <a href="mailto:dotdorset-subscribe@googlegroups.com">dotdorset-subscribe@googlegroups.com</a> to join the mailing list.  Once you've joined introduce yourself, or, if you prefer, just lurk !</p>
  </div>
{% endblock %}