<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>{% block title %}dotDorset - Dorset web, tech, digital and geek community{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
     <link rel="alternate" type="application/rss+xml" title="RSS" href="/feeds/all/" />
    {% block additionalhead %}{% endblock %}
  </head>
  <body>
    <div id="main">
      <h1><a href="/">dotDorset</a><span>Web, technology and digital community.</span></h1>
      {% block content %}
      {% endblock %}
      
      <div id="footer">
          <p>dotDorset is brought to you by <a href="http://www.markng.co.uk/">Mark Ng <small>(Django, HTML, CSS)</small></a>, <a href="http://www.stephendwolff.com/">Stephen D Wolff <small>(Hosting, Django)</small></a>, <a href="http://www.davinian.com/">Davinian <small>(Logo)</small></a>, <a href="http://www.chickenskinners.com/">Matthew Pollard <small>(HTML, CSS, Design)</small></a>, <a href="http://www.djangoproject.com/">Django</a> and a <a href="http://groups.google.com/group/dotdorset">cabal of dorset geeks <small>(awesomeness, inspiration)</small></a>.</p>
      </div>
      
    </div>
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    var pageTracker = _gat._getTracker("UA-1944573-2");
    pageTracker._initData();
    pageTracker._trackPageview();
    </script>
  </body>
</html>