{% extends "base.html" %}
{% load aggregator_tags %}

      {% block content %}
        <div id="intro">
          <p>dotDorset is a portal for the Dorset web, tech and digital community. <a href="/join/"><strong>Join us.</strong></a></p>
        </div>
        <div id="blogs">
          <h2>Blogs</h2>
          <p>To have your blog listed here, email <a href="mailto:addme@dotdorset.org">addme@dotdorset.org</a></p>
          {% for item in blogitems %}
          <h3><a href="{{ item.link }}">{{ item.title }}</a></h3>
          <h4><a href="{{ item.feed.link }}">{{ item.feed }}</a></h4>
          <p>{{ item.description|sanitize|safe }}</p>
          {% endfor %}
        </div>
        
        <div id="twitter">
          <h2><a href="http://twitter.com/dotdorset">Twitter</a></h2>
          <p>Follow <a href="http://twitter.com/dotdorset">@dotdorset</a> if you want to appear here !</p>
          {% for item in twitteritems %}
          <div class="content">
            {% if item.content %}
              {{ item.content|sanitize|safe }}
            {% else %}
              {{ item.description|sanitize|safe }}
            {% endif %}
          </div>
          {% endfor %}
        </div>
        <div id="jobs">
          <h2>Jobs</h2>
          <p>If you're a web company based in Dorset, and have have an RSS feed for your jobs, email <a href="mailto:addme@dotdorset.org">addme@dotdorset.org</a> to get listed here for free !</p>
          {% for item in jobitems %}
          <h3><a href="{{ item.link }}">{{ item.title }}</a></h3>
          <div class="content">
            {% if item.content %}
              {{ item.content|sanitize|safe }}
            {% else %}
              <p>{{ item.description|sanitize|safe }}</p>
            {% endif %}
          </div>
          {% endfor %}
        </div>
        
        <div class="clear">
          &nbsp;
        </div>
        <div id="mailinglist">
          <h2><a href="http://groups.google.com/group/dotdorset">Mailing List</a></h2>
          <p>To subscribe to the mailing list, either <a href="http://groups.google.com/group/dotdorset">join the google group</a> or email <a href="mailto:dotdorset-subscribe@googlegroups.com">dotdorset-subscribe@googlegroups.com</a>.</p>
          {% for item in mlitems %}
          <h3><a href="{{ item.link }}">{{ item.title }}</a></h3>
          <div class="content">
            {% if item.content %}
              {{ item.content|sanitize|safe }}
            {% else %}
              {{ item.description|sanitize|safe }}
            {% endif %}
          </div>
          {% endfor %}          
        </div>
        <div id="bookmarks">
          <h2>Bookmarks</h2>
          <p>To have your bookmarks listed here, email <a href="mailto:addme@dotdorset.org">addme@dotdorset.org</a></p>
          {% for item in bookmarkitems %}
          <h4><a href="{{ item.link }}">{{ item.title }}</a> from <a href="{{ item.feed.link }}">{{ item.feed }}</a></h4>
          <div class="content">
            {% if item.content %}
              {{ item.content|sanitize|safe }}
            {% else %}
              <p>{{ item.description|sanitize|safe }}</p>
            {% endif %}
          </div>
          {% endfor %}
        </div>
        
      {% endblock %}
