{% extends "base.html" %}
{% load aggregator_tags %}
      {% block content %}
      
        <div id="intro">
          <h2>Putting Dorset on the digital map. <a href="/join/"><strong>Join us.</strong></a></h2>
        </div>
        <div id="blogs">
          <h2>Blogs <a href="/feeds/categories/Blogs"><img src="/images/feed.png" alt="RSS Feed" /></a></h2>
          <p>To have your blog listed here, email <a href="mailto:addme@dotdorset.org">addme@dotdorset.org</a></p>
          {% for item in blogitems %}
          <h3><a href="{{ item.link }}">{{ item.title }}</a></h3>
          <h4><a href="{{ item.feed.link }}">{{ item.feed }}</a></h4>
          <p>{{ item.description|sanitize|safe }}</p>
          {% endfor %}
        </div>
        
        <div id="events">
          <h2>Events <a href="/feeds/categories/Events"><img src="/images/feed.png" alt="RSS Feed" /></a></h2>
          <p>To get your Dorset events listed here, add them to the <a href="http://upcoming.yahoo.com/group/4604/">Dorset Web Group</a> on upcoming.</p>
          {% for item in eventitems %}
          <h3><a href="{{ item.link }}">{{ item.title }}</a></h3>
          {% if item.fpitem.geo_lat %}
          
          {% endif %}
          <p>{{ item.description|sanitize|safe }}</p>
          
          {% endfor %}
          
        </div>
        
        
        <div id="jobs">
          <h2>Jobs <a href="/feeds/categories/Jobs"><img src="/images/feed.png" alt="RSS Feed" /></a></h2>
          <p>If you're a web company based in Dorset, and have have an RSS feed for your jobs, email <a href="mailto:addme@dotdorset.org">addme@dotdorset.org</a> to get listed here for <strong>free !</strong></p>
          {% for item in jobitems %}
          <h3><a href="{{ item.link }}">{{ item.title }}</a></h3>
          <div class="content">
            {% if item.content %}
              {{ item.content|sanitize|safe }}
            {% else %}
              <p>{{ item.description|sanitize|safe }}</p>
            {% endif %}
          </div>
          {% endfor %}
        </div>
        
        <div class="clear">
          &nbsp;
        </div>
        
        <div id="twitter">
          <h2><a href="http://twitter.com/dotdorset">Twitter</a> <a href="/feeds/categories/Twitter"><img src="/images/feed.png" alt="RSS Feed" /></a></h2>
          <p>Follow <a href="http://twitter.com/dotdorset"><strong>@dotdorset</strong></a> if you want to appear here !</p>
          {% for item in twitteritems %}
          <div class="content">
            {% if item.content %}
              {{ item.content|sanitize|safe }}
            {% else %}
              {{ item.description|sanitize|safe }}
            {% endif %}
          </div>
          {% endfor %}
        </div>
        
        <div id="mailinglist">
          <h2><a href="http://groups.google.com/group/dotdorset">Mailing List</a></h2>
          <p>To subscribe to the mailing list, either <a href="http://groups.google.com/group/dotdorset"><strong>join the google group</strong></a> or email <a href="mailto:dotdorset-subscribe@googlegroups.com"><strong>dotdorset-subscribe@googlegroups.com</strong></a>.</p>
          {% for item in mlitems %}
          <h3><a href="{{ item.link }}">{{ item.title }}</a></h3>
          <div class="content">
            {% if item.content %}
              {{ item.content|sanitize|safe }}
            {% else %}
              {{ item.description|sanitize|safe }}
            {% endif %}
          </div>
          {% endfor %}          
        </div>
        <div id="bookmarks">
          <h2>Bookmarks <a href="/feeds/categories/Bookmarks"><img src="/images/feed.png" alt="RSS Feed" /></a></h2>
          <p>To have your bookmarks listed here, email <a href="mailto:addme@dotdorset.org">addme@dotdorset.org</a></p>
          {% for item in bookmarkitems %}
          <div>
            <h4><a href="{{ item.link }}">{{ item.title }}</a> <a href="{{ item.feed.link }}">(via)</a></h4>
          </div>
          {% endfor %}
        </div>
        
      {% endblock %}
