<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>{% block title %}dotDorset - Dorset web, tech, digital and geek community{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
  </head>
  <body>
    <div>
      <h1><img src="/images/dotDorset.png" alt="dotDorset" /></h1>
      {% block content %}
        <div id="blogs">
          <h2>Blogs</h2>
          {% for item in blogitems %}
          <h3><a href="{{ item.link }}">{{ item.title }}</a></h3>
          <h4><a href="{{ item.feed.link }}">{{ item.feed }}</a></h4>
          <p>{{ item.description|striptags }}</p>
          {% endfor %}
        </div>
        
        <div id="twitter">
          <h2>Twitter</h2>
          {% for item in twitteritems %}
          <h3><a href="{{ item.link }}">{{ item.title }}</a></h3>
          <h4><a href="{{ item.feed.link }}">{{ item.feed }}</a></h4>
          <p>{{ item.description|striptags }}</p>
          {% endfor %}
          
        </div>
        
        <div id="mailinglist">
          <h2>Mailing List</h2>
          {% for item in mlitems %}
          <h3><a href="{{ item.link }}">{{ item.title }}</a></h3>
          <h4><a href="{{ item.feed.link }}">{{ item.feed }}</a></h4>
          <p>{{ item.description|striptags }}</p>
          {% endfor %}          
        </div>
      {% endblock %}
    </div>
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    var pageTracker = _gat._getTracker("UA-1944573-2");
    pageTracker._initData();
    pageTracker._trackPageview();
    </script>
  </body>
</html>